<!-- meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- title -->
<title>Where to Shoot</title>

<!-- CSS -->

<!-- style -->
<style>
  body {
    padding-top: 10px;
  }
  #map {
    height: 500px;
  }
</style>
